.rotating-clock {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-image: url(https://dl.dropbox.com/s/f3b3lyanili7zl2/clock%20template-01.svg?raw=1);
  
}
.rotating-clock img{
  margin: 10px;

}

.hour-hand,
.minute-hand,
.second-hand {
  position: absolute;
  background-color: #333;
  transform-origin: bottom center;
}

.hour-hand {
  width: 6px;
  height: 90px;
  border-radius: 6px;
}

.minute-hand {
  width: 4px;
  height: 120px;
  border-radius: 4px;
}

.second-hand {
  width: 2px;
  height: 140px;
  border-radius: 2px;
}

